@model WebShop.ModelViews.XemDonHang

@{
    ViewData["Title"] = Model.ChiTietDonHang;
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var total = Model.ChiTietDonHang.Sum(x => x.).Value.ToString("#,##0");
}
<main class="main-content" style="padding: 80px 20px 80px">
    <div class="container">
        <h3>Thông tin đơn hàng: #@Model.DonHang.OrderId</h3>
        <br />
        <p>Ngày đặt hàng: @Model.DonHang.OrderDate</p>
        <p>Trạng thái đơn hàng: @Model.DonHang.TransactStatus.Status</p>
        <p>Tổng giá trị đơn hàng: <strong> @Model.DonHang.TotalMoney.Value.ToString("#,##0") VNĐ</strong></p>
        @if (@Model.DonHang.PaymentDate != null)
        {
            <p>Ngày ship hàng: @Model.DonHang.PaymentDate</p>
        }
        else
        {

            <p>Ngày ship hàng: dự kiến giao ngày @Model.DonHang.OrderDate.Value.AddDays(3).ToString("dd-MM-yyyy")</p>
        }
        

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>#</th>
                        <th>Sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                    </tr>

                    @foreach (var item in Model.ChiTietDonHang)
                    {
                        int tien = ((int)@item.Product.Price.Value * @item.Quantity.Value);
                        <tr>
                            <td>@item.ProductId</td>
                            <td>@item.Product.Price</td>
                            <td>@item.Quantity</td>
                            <td>@item.Product.ProductName</td>
                            <td> @tien.ToString("#,##0") VNĐ </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>


